.formLoginContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem 5rem 1rem;
  width: 100%;

}

.verticalLine{
  border-left: 1px solid #bdbdbd;
  height: 50vh;
}

.formLoginContainer > form {
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: row;
}

.inputForm{
  padding-left: 1rem;
  padding-right: 1rem;
}




